.articles-list {
    background-color: rgb(220, 189, 220);
    border: 2px solid purple;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

h2 {
    padding-top: 20px;
}

.title {
    text-align: center;
}

#loading {
    background: url('/src/assets/spinner.gif') no-repeat center center;
    background-size: contain;
    background-color: #fef9f4;
    height: 100px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

button {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #bf00ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8300b3;
}

li {
    background-color: plum;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.ul {
    padding: 0;
}
