.invalid-input {
    color: red
}

.comment-box {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}